@{
    ViewData["Title"] = "Inicio";
}

<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="text-center p-5 bg-white shadow rounded">
        <h1 class="display-4 text-primary">¡Bienvenido!</h1>
        
        <a href="/Productoes" class="mt-5 btn btn-primary btn-lg">
    Empezar
</a>

    </div>
</div>
