@{
    ViewData["Title"] = "Inicio";
}

<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="text-center p-5 bg-white shadow rounded">
        <h1 class="display-4 text-primary">¡Bienvenido!</h1>
        <p class="mt-4 lead text-muted">
            Aprende sobre el desarrollo de aplicaciones web con
            <a href="https://learn.microsoft.com/aspnet/core" 
               class="text-primary font-weight-bold">
                ASP.NET Core
            </a>
        </p>
        <button class="mt-5 btn btn-primary btn-lg">
            Empezar
        </button>
    </div>
</div>
