@model CRUD.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DblCantidad" class="control-label"></label>
                <input asp-for="DblCantidad" class="form-control" />
                <span asp-validation-for="DblCantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatFechaRegistro" class="control-label"></label>
                <input asp-for="DatFechaRegistro" type="date" class="form-control" />
                <span asp-validation-for="DatFechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrNombre" class="control-label"></label>
                <input asp-for="StrNombre" class="form-control" />
                <span asp-validation-for="StrNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DblPrecio" class="control-label"></label>
                <input asp-for="DblPrecio" class="form-control" />
                <span asp-validation-for="DblPrecio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrClave" class="control-label"></label>
                <input asp-for="StrClave" class="form-control" />
                <span asp-validation-for="StrClave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
